/* fonts */

/* Roboto */

@font-face {
    font-family: Roboto Medium;
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto Regular;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
   font-family: Roboto Light;
   src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto Bold;
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: PTSerif Italic;
    src: url('./assets/fonts/PT_Serif-Web-Italic.ttf');
}

@font-face {
    font-family: Basis Grotesque Pro;
    src: url('./assets/fonts/BasisGrotesquePro-Regular.ttf');
}

@font-face {
    font-family: Basis Grotesque Pro Light;
    src: url('./assets/fonts/BasisGrotesquePro-Light.ttf');
}