.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
}

@media screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* sidebar page menu --> */

.page-menu {
	display: flex;
	position: relative;
	width: 100%;
	max-width: 25%;
	margin: 0.67em 0;
	@include media('<tablet'){
        margin-left: -15px;
    	margin-right: -15px;
    	border-top: 1px solid #f0f0f0;
    	border-top: .0625rem solid #f0f0f0;
    	border-bottom: 1px solid #f0f0f0;
    	border-bottom: .0625rem solid #f0f0f0;
    	max-width: unset;
		width: unset;
		max-height: 53px;
    	overflow: hidden;
    } 
	& .menu {
    	position: sticky;
    	top: 110px;
    	height: min-content; 
    	margin: 0 auto;
		padding: 15px 15px 15px 0px;
		padding: 1.0125rem 1.0125rem 1.0125rem 0;
		list-style-type: none;
		@include media('<tablet'){
			position: relative;
    		display: flex;
    		top: 0;
			padding: 15px;
			overflow-x: auto;
			height: 65px;
    		padding-bottom: 27px;
		} 
		& .sub-menu {
			list-style-type: none;
			margin: 0;
			@include media('<tablet'){
				display: flex;
			} 
		}
		& .menu-item-has-children {
			& > a { 
				font-weight: bold;
			}
		}

		& a {
			position: relative;
    		margin-bottom: 20px;
    		margin-bottom: 1.25rem;
    		font-size: 15px;
    		font-size: .9375rem; 
			color: #ababab;
			white-space: nowrap;
			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1px; 
				height: .0625rem;
				width: 0;
				opacity: 0;
				transition: width 0s ease, opacity .3s ease;
			}
			&::after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				height: 1px;
				height: .0625rem;
				width: 0;
				background: #444;
				opacity: 0;
				transition: width .3s ease, opacity .3s ease, background .3s ease;
			}

			@include media('<tablet'){
				margin-right: 15px;
				margin-right: .9375rem;  
				margin-bottom: 0; 
			} 

		}

		& .menu-item:not(.menu-item-has-children) {
			&:hover {
				& > a {
					color: #444;
            		&::before {
                		width: 100%;
                		background: #444;
                		opacity: 1;
                		transition: width .3s ease;
            		}
            		&::after {
                		width: 100%;
                		background: 0 0;
                		opacity: 1; 
                		transition: all 0s ease;
            		}
				}
			}
		}

		& .menu-item-has-children {
			
			& > a:hover {
				color: #444;
            	&::before {
            		width: 100%;
            		background: #444;
            		opacity: 1;
            		transition: width .3s ease;
            	}
            	&::after {
            		width: 100%;
            		background: 0 0;
            		opacity: 1; 
            		transition: all 0s ease;
            	}
			}
			 
		}

		& .current-menu-item:not(.current-menu-parent) {
			& a {
				color: #444;
            	&::before {
            		width: 100%;
            		background: #444;
            		opacity: 1;
            		transition: width .3s ease;
            	}
            	&::after {
            		width: 100%;
            		background: 0 0;
            		opacity: 1; 
            		transition: all 0s ease;
            	}
			}
		}

		& .menu-item {
			@include media('<tablet'){
				display: flex;
			} 
		}
		
	}
}

/* <--sidebar page menu */