<!-- Slider main container -->
{% if slides %}
    <section class="home-slider">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for slide in slides %} 
                    <a href="{{ slide.slide_link }}" class="swiper-slide" title="slide">
                         <picture>
                            <source srcset="{{ slide.slide_image_mobile }}" media="(min-device-width:320px) and (max-device-width:480px)">
                            <source srcset="{{ slide.slide_image_tablet }}" media="(min-device-width:481px) and (max-device-width:768px)">
                            <img src="{{ slide.slide_image }}" class="swiper-slide__img" alt="slide" title="slide">
                        </picture>
                    </a>
                {% endfor %} 
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
{% endif %}