
/* header */

// #wpadminbar {
//     position: fixed;
// }

// .wpadminbar-active {
//     margin-top: 46px !important;
// }

.site-header {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    background-color: #ffffff;
    
    &__wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1160px;
        max-width: 72.5rem;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-left: 1.25rem;
        padding-right: 20px;
        padding-right: 1.25rem;
        margin-bottom: 10px;
        margin-bottom: .625rem;
        transition: all .3s;
    } 

    &__contacts {
        padding: 12.5px 0px;
        padding: 0.736rem 0px;
    }

    &__link {
        color: #9f9f9f;
        text-decoration: none;
        transition: all .15s;
        font-size: 15px;
        font-size: .9375rem;
        line-height: 1;
        &:active,
        &:focus,
        &:visited {
            color: #9f9f9f;
        }
        &:hover {
            transition: all .15s;
            color: #525252;
        }
    }

    & .site-branding {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #f0f0f0;
        border-bottom: .0625rem solid #f0f0f0;
        &__link-to-main {
            display: flex;
            width: 48px;
            height: 48px;
        }
    }

    &--shrink {
        & .site-header {
            &__wrapper {
                margin-bottom: 0;
                transition: all .3s;
            }
        }
    }

}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding: .3125rem 0;
}

/* search form --> */

.search-form {
    display: none;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
}

.search-submit,
.search-open,
.search-close {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    & svg {
        width: 24px;
        transition: fill .3s ease;
    }
    &:hover {
        cursor: pointer;
        & svg {
            transition: fill .3s ease;
        }
    }
}

.search-submit,
.search-open {
    & svg {
        fill: #303030;
    }
    &:hover {
        cursor: pointer;
        & svg {
            fill: #5cbf96;
        }
    }
}

.search-submit,
.search-close {
    position: absolute;
    & svg {
        fill: #bbb;
    }
    &:hover {
        & svg {
            fill: #6e6e6e;
        }
    }
}

.search-submit {
    right: 0;
    background-color: #fff;
}

.search-close {
    left: 0;
}

.search-field {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 50px;
    padding: 0 3.125rem;
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 30px;
    line-height: 1.875rem;
    font-weight: 400;
    border: none;
    transition: border .3s ease;
    appearance: none;
    -webkit-appearance: none;
    resize: none;
    &::placeholder {
        color: #bbb
    }
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

/* <-- search form */


/* header-services --> */

.header-services {
    margin: 25px auto;
    margin: 1.55rem auto;
    background: transparent;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    &__img {
        width: 54px;
        height: 54px;
        margin-right: 10px;
    }
    &__text {
        margin: 0;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-basis: 33%;
        max-width: 33%;
        padding: 10px;
        padding: .625rem;
        position: relative;
        transition: .15s;
        &:hover {
            color: #5cbf96;
            transition: .15s;
            cursor: default;
        }
        &::after {
            content:"";
            position: absolute;
            height: 100%;
            width: 1px;
            right: 0;
            background-color: #eaeaea;
        }
        &:last-of-type {
            &::after {
                content:none;
            }
        }
        @include media('<desktop'){
            flex-basis: 50%;
            max-width: 50%;
            &:nth-of-type(2) {
                &::after {
                    width: 100%;
                    right: unset;
                    bottom: 0;
                    height: 1px;
                    left: -50%;
                }
            }
        } 
        @include media('<600px'){
            flex-basis: 50%;
            max-width: 50%;
            min-width: 280px;
            margin: 20px 10px;
            &::after,
            &:nth-of-type(2)::after {
                width: 100%;
                right: unset;
                left: unset;
                bottom: -21px;
                height: 1px;
            }
        } 
    }
}

/* <-- header-services */ 

/* search header --> */

#search-toggle {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer; 
}

/* <!-- search header */

/* main navigation --> */

#primary-menu > .menu-item {
    & > a {
    display: flex;
    text-decoration: none;
    padding: 0 8px;
    padding: 0 .5rem;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
    color: #303030;
    transition: color .15s;
    }
    &:hover,
    &:focus {
        & > a {
            color: #5cbf96;
            transition: color .15s;
        }
    }
}

#primary-menu > .current-menu-item {
    & > a {
        color: #5cbf96; 
    }
}


#primary-menu-toggle {
    margin: 10px auto;
    width: 48px;
    height: 48px;
    background-image: url('./images/burger.svg');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #ffffff;
    @include media('<desktop'){
        flex-direction: column;
        align-items: center;  
        margin: 0;
    } 
}

#primary-menu-toggle[aria-expanded="true"] {
    background-image: url('./images/cross.svg'); 
}

.main-navigation.toggled {
    flex-direction: column;
    align-items: center;
}

#primary-menu {
    @include media('<desktop'){
        flex-direction: column;
    } 
}

#site-navigation {
    display: flex;
    justify-content: center;
}

#primary {
    background-color: #ffffff;
}

