
/* header */

.site-header {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    background-color: #ffffff;
    
    &__wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1160px;
        max-width: 72.5rem;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-left: 1.25rem;
        padding-right: 20px;
        padding-right: 1.25rem;
        margin-bottom: 12px;
        margin-bottom: .65rem;
        transition: all .3s;
    } 

    &__contacts {
        display: flex;
        white-space: nowrap;
    }

    &__link {
        display: flex;
        align-items: center;
        color: #9f9f9f;
        text-decoration: none;
        transition: all .15s;
        font-size: 15px;
        font-size: .9375rem;
        line-height: 1;
        &:active,
        &:focus,
        &:visited {
            color: #9f9f9f;
        }
        &:hover {
            transition: all .15s;
            color: #525252;
        }
        &:first-of-type {
            margin-right: 20px;
            margin-right: 1.25rem;
        }
    }

    & .site-branding {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #f0f0f0;
        border-bottom: .0625rem solid #f0f0f0;
        &__link-to-main {
            display: flex;
            min-width: 48px;
            min-height: 48px;
            @include media('<desktop'){
                margin: 0 auto;
            }
            & img {
                @include media('<tablet'){
                    margin-left: -24px; 
                }
            }
        }
    }

    &--shrink {
        & .site-header {
            &__wrapper {
                margin-bottom: 0;
                transition: all .3s;
            }
        }
    }

}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding: .3125rem 0;
    @include media('<desktop'){
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

/* search form --> */

.search-form {
    display: none;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
}

.search-submit,
.search-open,
.search-close {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    min-height: 48px;
    outline: none;
    padding: 0;
    border: none;
    background: none;
    & svg {
        width: 24px;
        transition: fill .3s ease;
    }
    &:hover {
        cursor: pointer;
        & svg {
            transition: fill .3s ease;
        }
    }
}

.search-submit,
.search-open {
    & svg {
        fill: #303030;
    }
    &:hover {
        cursor: pointer;
        & svg {
            fill: #5cbf96;
        }
    }
}

.search-submit,
.search-close {
    position: absolute;
    & svg {
        fill: #bbb;
    }
    &:hover {
        & svg {
            fill: #6e6e6e;
        }
    }
}

.search-submit {
    right: 0;
    background-color: #fff;
}

.search-close {
    left: 0;
}

.search-field {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 50px;
    padding: 0 3.125rem;
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 30px;
    line-height: 1.875rem;
    font-weight: 400;
    border: none;
    transition: border .3s ease;
    appearance: none;
    -webkit-appearance: none;
    resize: none;
    &::placeholder {
        color: #bbb
    }
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

/* <-- search form */

/* front menu --> */

.menu-front-menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    @include media('<desktop'){
        display: none;
    }
}

#front-menu {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    padding: 0 2.7rem;
    list-style-type: none;
    white-space: nowrap;
    margin: 0 auto;
    width: 100%;
    & a {
        display: flex;
        align-items: center;
        padding: 0 10px;
        padding: 0.675rem;
        height: 100%;
        color: #9f9f9f;
        text-decoration: none;
        transition: all .15s;
        font-size: 15px;
        font-size: .9375rem;
        line-height: 1;
        &:active,
        &:focus,
        &:visited {
            color: #9f9f9f;
        }
        &:hover {
            transition: all .15s;
            color: #525252;
        }
    }
}

/* <-- front menu */


/* top banner --> */

.top-banner {
    picture,
    &__img {
        width: 100%;
    }
}

/* <-- top banner */ 

/* search header --> */

#search-toggle {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer; 
}

/* <!-- search header */

/* main navigation --> */

#primary-menu > .menu-item {
    & > a {
    display: flex;
    text-decoration: none;
    padding: 0 8px;
    padding: 0 .5rem;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
    color: #303030;
    transition: color .15s;
    }
    &:hover,
    &:focus {
        & > a {
            color: #5cbf96;
            transition: color .15s;
        }
    }
}

#primary-menu > .current-menu-item {
    & > a {
        color: #5cbf96; 
    }
}


#primary-menu-toggle {
    margin: 10px auto;
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #ffffff;
    @include media('<desktop'){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin: 0;
        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            & i {
                font-size: 39px;
                color: #303030;
            }
        }
    } 
}

#primary-menu-toggle[aria-expanded="true"] {
    
}

.main-navigation.toggled {
    flex-direction: column;
    align-items: center;
}

#primary-menu {
    @include media('<desktop'){
        flex-direction: column;
    } 
}

#site-navigation {
    display: flex;
    justify-content: center;
    @include media('<desktop'){
        max-height: 48px;
        max-width: 48px;
    } 
}

.header-bottom #primary-menu {
    @include media('<desktop'){
        display: none;
    } 
}

#primary {
    background-color: #ffffff;
}


/* breadcrumbs --> */

.breadcrumbs {
    padding: 10px 0;
    padding: .625rem 0;
    & span {
        &:first-of-type {
            & a {
                vertical-align: text-bottom;
            }
        }
    }
    &-wrapper {
        border-bottom: 1px solid #f0f0f0;
        border-bottom: .0625rem solid #f0f0f0;
    }
    &__link {
        font-size: 15px;
        font-size: .9375rem;
        color: #ababab;
        position: relative;
        vertical-align: middle;
        & i {
            color: #ababab;
            vertical-align: text-bottom;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px; 
            height: .0625rem;
            width: 0;
            opacity: 0;
            transition: width 0s ease, opacity .3s ease;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            height: 1px;
            height: .0625rem;
            width: 0;
            background: #444;
            opacity: 0;
            transition: width .3s ease, opacity .3s ease, background .3s ease;
        }
        &:visited {
            color: #ababab;
        }
        &:hover {
            color: #444;
            &::before {
                width: 100%;
                background: #444;
                opacity: 1;
                transition: width .3s ease;
            }
            &::after {
                width: 100%;
                background: 0 0;
                opacity: 1;
                transition: all 0s ease;
            }
            & i {
                color: #444;
            }
        }

    }
    &__current {
        vertical-align: middle;
    }
    &__separator {
        vertical-align: middle;
    }
}

/* <-- breadcrumbs */

/* top banner --> */

.top-banner {
    & picture {
        display: flex;
    }
    @include media('<tablet'){
        display: none;
    } 
}

/* <-- top banner */