
// Home Slider -->

.home-slider {
    max-width: 100%;
    @include media('<tablet'){
        display: none;
    } 
    & .swiper-slide {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        &__img {
            margin: 0 auto;
        }
    }

    & .swiper-pagination-bullet {
        max-width: 190px;
        max-width: 11.875rem;
        width: 100%;
        margin-left: 2px !important;
        margin-left: .125rem !important;
        margin-right: 2px !important;
        margin-right: .125rem !important;
        opacity: .5;
        background-color: #fff;
        transition: opacity 250ms ease;
        height: 8px !important;
        height: .5rem !important;
        width: 100%;
        outline: none;
        border-radius: 0;
        &:first-child {
            border-radius: 4px 0 0 4px;
            border-radius: .25rem 0 0 .25rem;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
            border-radius: 0 .25rem .25rem 0;
        }
        @include media('<desktop'){
            width: auto;
            padding: 8px !important;
            padding: .5rem !important;
            margin: 8px !important;
            margin: .5rem !important;
            border-radius: 100% !important;
        } 
    }
    .swiper-pagination-bullet-active {
        opacity: 1 !important;
    }
}

// <-- Home Slider

// Home Services -->

.home-services {
    padding: 10px 15px;
    padding: 0.675rem 1.0125rem;
    &__wrapper {
        display: flex;
        flex-direction: column;
        @include media('<tablet'){
            flex-direction: row;
            flex-wrap: wrap;
        } 
    }
    &__item {
        display: flex;
        padding: 10px;
        padding: .625rem;
        margin-bottom: 20px;
        margin-bottom: 1.25rem;
        border-radius: 6px;
        border-radius: .4rem;
        @include media('<tablet'){
            margin: 10px;
            margin: .625rem;
            flex-direction: column;
            align-items: center;
            flex-basis: 0;
            flex-grow: 1;
        } 
        @include media('<mobile'){
            margin: 10px auto;
            margin: .625rem auto;
        } 
        &--green {
            background-color: #e7faf2;
        }
        &--yellow {
            background-color: #f5f2dd;
        }
        &--pink {
            background-color: #f8ebef;
        }
        &--purple {
            background-color: #efebf9;
        }
        &:hover {
            .home-services {
                &__image-container {
                    & img {
                        transition: transform 3s linear;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    &__image-container {
        display: flex; 
        justify-content: center;
        align-items: center;
        min-width: 260px;
        min-height: 210px;
        padding: 20px;
        overflow: hidden;
        height: auto;
        background-color: #ffffff;
        margin-right: 30px;
        margin-right: 1.875rem;
        border-radius: 6px;
        border-radius: .4rem;
        @include media('<tablet'){
            margin-right: unset;
            margin-bottom: 30px;
            margin-bottom: 1.875rem;
            width: 100%;
        } 
        & img {
            transition: transform 3s linear;
        }
    }
    &__content {
        padding: 0 20px 0 0;
        padding: 0 1.25rem 0 0;
        @include media('<tablet'){
            padding: 0 10px 10px 10px;
            padding: 0 .625rem .625rem .625rem;
        } 
    }
    &__description {
        text-align: justify;
        font-size: 15px;
        font-size: .9375rem;
        color: #444;
    }
    &__title {
        margin-bottom: 15px;
        margin-bottom: .9375rem;
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 35px;
        line-height: 2.1875rem;
        color: #202020;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

// <-- Home Services

// Home products -->

.home-products {
    margin-top: 20px;
    margin-top: 1.25rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    &__heading {
        margin: 40px 0;
        margin: 2.5rem 0;
        text-align: center;
    }
    &__header {
        font-size: 30px;
        font-size: 1.875rem;
        font-weight: 400;
        font-family: "Basis Grotesque Pro Of White",sans-serif;
        line-height: 38px;
        line-height: 2.375rem;
        letter-spacing: .2px;
        letter-spacing: .0125rem;
        @include media('<tablet'){
            font-size: 29px;
            font-size: 1.8125rem;
            line-height: 35px;
            line-height: 2.1875rem;
        } 
        @include media('<545px'){
            font-size: 23px;
            font-size: 1.4375rem;
            line-height: 30px;
            line-height: 1.875rem;
        } 
    }
    &__subheader {
        display: block;
        font-size: 23px;
        font-size: 1.4375rem;
        line-height: 30px;
        line-height: 1.875rem;
        letter-spacing: normal;
        color: #72b39a;
    }
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 15px;
        padding: 0 1.0125rem;

    }
    &__list-item {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-left: .625rem;
        padding-right: 10px;
        padding-right: .625rem;
        margin-bottom: 40px;
        margin-bottom: 2.5rem;
        flex-basis: 25%;
        max-width: 25%;
        @include media('<desktop'){
            flex-basis: 50%;
            max-width: 50%;
        } 
        @include media('<545px'){
            flex-basis: 100%;
            max-width: 100%;
        } 
    }
    & .products-list { 
        &__image {
            @include media('<desktop'){
                padding: 300px 0 0;
                padding: 18.75rem 0 0;
            } 
        }
    }
}

// <-- Home products