.sticky {
	display: block;
}

.post,
.page {
	
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


a.lightgreen {
	color: #5cbf96;
	border-bottom: 1px solid transparent;
	border-bottom: .0625rem solid transparent;
	transition: color .15s linear, border-color .15s linear;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: #5cbf96;
	}
	&:hover {
		border-color: #b6e2d0;
		transition: color .15s linear, border-color .15s linear;
	}
} 

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
	width: 1120px;
	max-width: 100%;
	@media (min-width: 1200px) {
		max-width: 1160px;
    	max-width: 72.5rem;
    	width: 100%;
	}
	@media (min-width: 992px) {
		width: 960px;
		max-width: 100%;
	}
	@media (min-width: 768px) {
		width: 720px;
    	max-width: 100%;
	}
	@media (min-width: 576px) {
    	width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
    	max-width: 1140px;
    	width: 100%;
	}
}

.terms {
	background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
}

.logo-text-wrap {
	display: flex;
	align-items: center;
	font-weight: bold;
}