.sticky {
	display: block;
}

.post,
.page {
	
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


a.lightgreen {
	color: #5cbf96;
	border-bottom: 1px solid transparent;
	border-bottom: .0625rem solid transparent;
	transition: color .15s linear, border-color .15s linear;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: #5cbf96;
	}
	&:hover {
		border-color: #b6e2d0;
		transition: color .15s linear, border-color .15s linear;
	}
} 

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
	width: 1120px;
	max-width: 100%;
	@media (min-width: 1200px) {
		max-width: 1160px;
    	max-width: 72.5rem;
    	width: 100%;
	}
	@media (min-width: 992px) {
		width: 960px;
		max-width: 100%;
	}
	@media (min-width: 768px) {
		width: 720px;
    	max-width: 100%;
	}
	@media (min-width: 576px) {
    	width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
    	max-width: 1140px;
    	width: 100%;
	}
}

.terms {
	background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
}

.logo-text-wrap {
	display: flex;
	align-items: center;
	font-weight: bold;
}

/* page sidebar menu --> */

.site-main {
	display: flex;
	@include media('<tablet'){
        flex-direction: column;
    } 
}

.no-results {
    min-height: calc(100vh - 145px - 169px);
}

.page-404 {
	display: flex;
    flex-direction: column;
    padding: 20px 15px;
    padding: 1.25rem .9375rem;
    width: 100%;
    max-width: 1160px;
    max-width: 72.5rem;
    margin: 0 auto;
}

.error-404 {
	min-height: calc(100vh - 145px - 244px);
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* <-- page sidebar menu */

/* order popup --> */

/*

   Styles for animated modal
   =========================

*/

/* Start state */

.animated-modal {
	width: 100%;
	max-width: 450px !important;
    padding: 50px 40px 10px !important;
	border-radius: 6px;
	overflow: hidden !important;
	transform: translateY(-50px);
	transition: all .7s;
}
  
  .animated-modal .order-header,
  .animated-modal .order-subheader,
  .animated-modal .order-name,
  .animated-modal .order-phone,
  .animated-modal .order-size,
  .animated-modal .form-privacy,
  .animated-modal .btn--order {
	transform: translateY(-50px);
	opacity: 0;
	
	transition-property: transform, opacity;
	transition-duration: .4s;
  }
  
  /* Final state */
  .fancybox-slide--current .animated-modal,
  .fancybox-slide--current .animated-modal .order-header,
  .fancybox-slide--current .animated-modal .order-subheader,
  .fancybox-slide--current .animated-modal .order-name,
  .fancybox-slide--current .animated-modal .order-phone,
  .fancybox-slide--current .animated-modal .order-size,
  .fancybox-slide--current .animated-modal .form-privacy,
  .fancybox-slide--current .animated-modal .btn--order {
	transform: translateY(0);
	opacity: 1;
  }
  
  /* Reveal content with different delays */
  .fancybox-slide--current .animated-modal .order-header {
	transition-delay: .1s;
  }
  
  .fancybox-slide--current .animated-modal .order-subeader {
	transition-delay: .3s;
  }

  .fancybox-slide--current .animated-modal .order-name {
	transition-delay: .4s;
  }

  .fancybox-slide--current .animated-modal .order-phone {
	transition-delay: .5s;
  }

  .fancybox-slide--current .animated-modal .order-size {
	transition-delay: .6s;
  }

  .fancybox-slide--current .animated-modal .form-privacy {
	transition-delay: .7s;
  }

  .fancybox-slide--current .animated-modal .btn--order {
	transition-delay: .8s;
  }

  .fancybox-close-small {
	width: 48px !important;
	height: 48px !important;
	transition: all .5s ease !important;
	outline: none;
	&:hover {
		transform: rotateZ(360deg);  
	}
  }

/* <-- order popup */

/* searchwp live search results --> */

.searchwp-live-search-results {
	background-color: #fafafa !important;
	outline: none;
	box-shadow: 0 0 1px 0 rgba(30,30,30,0.4) !important;
	& a{
		display: flex !important;
    	align-items: center;
    	padding: 10px 0;
    	padding: .625rem 0;
    	border-bottom: 1px solid #f0f0f0;
		border-bottom: .0625rem solid #f0f0f0;
		font-family: "Basis Grotesque Pro",sans-serif;
		font-size: 17px;
		font-size: 1.0625rem;
		font-weight: 600;
		transition: background-color .15s linear;
		&:hover {
			background-color: #ffffff;
		}
	}
	& a,
	& a:hover,
	& a:active,
	& a:focus,
	& a:visited {
		color: #303030;
	}
}

.search_title_ajax {
	padding: 10px 15px !important;
	padding: .625rem .9375rem !important;
    display: flex;
    font-size: 15px;
    font-size: .9375rem;
	color: #a0a0a0;
	border-bottom: 1px solid #f0f0f0;
    border-bottom: .0625rem solid #f0f0f0;
}

.search_title_ajax,
.search_title_ajax:hover,
.search_title_ajax:active,
.search_title_ajax:focus,
.search_title_ajax:visited {
	color: #a0a0a0;
}

.search_ajax_text {
	padding: 0 10px;
	padding: 0 .675rem;
	white-space: pre-wrap;
}

.search_ajax_img {
	display: block;
    margin-left: 15px;
    margin-left: .9375rem;
    margin-right: 15px;
    margin-right: .9375rem;
    padding: 25px 25px;
    padding: 1.5625rem 1.5625rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	transform-style: preserve-3d;
	background-size: contain;
    background-position: bottom;
}

.searchwp-live-search-no-min-chars::after {
	content: "Продолжайте печатать" !important;
}

/* <-- searchwp live search results */

/* search results / tags page --> */

.search-results-page,
.tags-page {
	display: flex;
    flex-direction: column;
    padding: 20px 15px;
    padding: 1.25rem .9375rem;
    width: 100%;
    max-width: 1160px;
    max-width: 72.5rem;
    margin: 0 auto;
}

.result {
	&__line {
		display: flex;
		padding: 10px;
		padding: 0.625rem;
		border: 1px solid #f0f0f0;
		border: .0625rem solid #f0f0f0;
		border-radius: 10px;
		border-radius: 0.625rem;
		margin-bottom: 20px;
		margin-bottom: 1.25rem;
		@include media('<545px'){
			flex-direction: column;
			align-items: center;
		} 
	}
	&__img {
		display: flex;
    	padding: 100px;
    	padding: 5.883rem;
    	width: 100%;
    	max-width: 200px;
    	background-size: contain;
    	background-position: bottom;
		background-repeat: no-repeat;
		@include media('<545px'){
			padding: 120px;
    		padding: 7.059rem;
		} 
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    	padding: 0 10px;
		padding: 0 0.625rem;
		@include media('<545px'){
			align-items: center;
			padding: 10px;
			padding: 0.625rem;
			& .product {
				&__detail-row {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
				}
			}
		} 
	}
	&__title {
		font-size: 19px;
    	font-size: 1.1875rem;
    	line-height: 25px;
    	line-height: 1.5625rem;
    	color: #303030;
    	transition: all .2s;
		text-align: left;
		&:active,
		&:focus,
		&:visited {
			color: #303030;
		}
		&:hover {
			color: #5cbf96;
		}
		@include media('<545px'){
			text-align: center;
		} 
	}
}

/* <-- search results /tags page */

/* spoiler --> */

.spoilers {
	border-bottom: 1px solid #f0f0f0;
    border-bottom: .0625rem solid #f0f0f0;
    margin-bottom: 10px;
    margin-bottom: 0.675rem;
	&__item {
		position: relative;
    	margin: 0;
		padding: 10px 0;
		padding: 0.675rem 0;
		border-top: 1px solid #f0f0f0;
		border-top: .0625rem solid #f0f0f0;
		animation-delay: 0.5s;
		animation: flipdown 0.5s ease both;
	}
	&__icon {
		position: absolute;
      	transform: translate( -6px , 0 );
      	margin-top: 12px;
		right: 30px;

		&::before, 
		&::after {
        	content: "";
        	transition: all 0.25s ease-in-out;
        	position: absolute;
        	background-color: #5cbf96;
        	width: 2px;
			height: 15px;
		}
      	&::before {
        	transform: translate(-5px, 0) rotate(45deg);
		}
      	&::after {
        	transform: translate(5px, 0) rotate(-45deg);
		}
	}
	&__checkbox {
		position: absolute;
    	cursor: pointer;
    	width: 100%;
    	height: 100%;
    	z-index: 1;
		opacity: 0;
		&:checked {
			& ~ .spoilers__content {
				margin-top: 0;
				max-height: 0;
				opacity: 0;
				transform: translate(0, 50%);
			}
			&~i {
          		&::before {
					transform: translate( 5px , 0 ) rotate( 45deg );
				}
          		&::after {
					transform: translate( -5px , 0 ) rotate( -45deg );
				}
			}
		}
	}
	&__header {
		font-size: 26px;
    	line-height: 34px;
    	font-weight: 300;
    	letter-spacing: 1px;
    	display: block;
		background-color: #fefffa;
		color: #5cbf96;
    	margin: 0;
    	cursor: pointer;
	}
	&__content {
		position: relative;
    	overflow: hidden;
    	opacity: 1;
    	transform: translate(0, 0);
    	margin-top: 14px;
		z-index: 2;
		transition: all 0.25s ease-in-out;
	}
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
	transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
	transform: rotateX(8deg);
  }
  83% {
	transform: rotateX(6deg);
  }
  92% {
	transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
	transform: rotateX(0deg);
  }
}

.transition {
  transition: all 0.25s ease-in-out;
}

.flipIn {
  animation: flipdown 0.5s ease both;
}
.no-select {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

/* <-- spoilers */

/* tabs --> */

.tabs {
	display: flex;
	flex-wrap: wrap;
	@include media('<tablet'){
		justify-content: center;
	} 
	&__content {
		display: none;
	}
	&__label {
		transition: all 0.2s ease-in-out;
    	user-select: none;
    	font-weight: bold;
    	font-size: 18px;
    	color: #929daf;
		cursor: pointer;
		margin: 0 10px 20px;
    	text-align: center;
    	display: flex;
    	justify-content: center;
    	position: relative;
		line-height: 1;
		&::after {
			position: absolute;
			content:"";
			width: 100%;
			height: 4px;
			bottom: -10px;
			left: 0;
			background-color: transparent;
			transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
		}
		&:hover {
			color: #bec5cf;
		}
		&:first-of-type {
			margin-left: 0;
			@include media('<tablet'){
				margin-left: 10px;
			} 
		}
	}
	&__input {
		display: none;
	}
	&__input:checked + .tabs__label {
		color: #5cbf96;
		cursor: default;
		&::after {
			background-color: #5cbf96;
		}
	}
	&__content {
		margin-top: 10px;
		margin-top: 0.675rem;
		animation-name: content;
		animation-duration: 0.3s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
	 
}

@for $i from 0 through 10 {
	#tab-btn-#{$i}:checked~#content-#{$i}{
	  display: flex;
	  flex-direction: column;
	}
}

@keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }


/* <-- tabs */

/* tabs right --> */

.tabs-right {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	@include media('<desktop'){
		flex-direction: column;
	} 
	@include media('<tablet'){
		justify-content: center;
	} 
	&__cloud {
		display: flex;
    	flex-direction: column;
		padding: 0 30px;
		min-width: 280px;
		@include media('<desktop'){
			padding: 0;
			border-top: 1px solid #f0f0f0;
			border-top: .0625rem solid #f0f0f0;
			border-bottom: 1px solid #f0f0f0;
			border-bottom: .0625rem solid #f0f0f0;
			max-width: 100%;
			max-height: 53px;
			overflow: hidden;
			margin-bottom: 10px;
			display: grid;
		} 
		// @include media('<tablet'){
		// 	margin-left: -15px;
		// 	margin-right: -15px;
		// }
	}
	&__cloud-wrapper {
		display: flex;
		flex-direction: column;
		@include media('<desktop'){
			flex-direction: row;
			margin: 0 auto;
    		max-width: fit-content;
    		white-space: nowrap;
    		display: flex;
    		overflow: auto;
			padding: 15px;
			min-height: 65px;
    		height: 65px;
    		padding-top: 16px;
			padding-bottom: 26px;
			max-width: 100%;
		} 
	}
	&__label {
		color: #929daf;
		transition: all 0.2s ease-in-out;
		border-bottom: 1px solid #f0f0f0;
    	border-bottom: .0625rem solid #f0f0f0;
		padding: 10px 0;
		font-weight: bold;
		text-align: center;
		font-size: 18px;
		position: relative;
		@include media('<desktop'){
			border: none;
			font-weight: normal;
			padding: 0 15px 0 0;
		}
		&:hover {
			cursor: pointer;
			color: #5cbf96;
			border-bottom: 1px solid #5cbf96;
			border-bottom: .0625rem solid #5cbf96;
			@include media('<desktop'){
				border: none;
				color: #5cbf96;
			}
		}
	}
	&__input:checked + .tabs-right__label {
		color: #5cbf96;
		cursor: default;
		@include media('<desktop'){
			color: #5cbf96;
		}
	}
	&__input {
		display: none;
	}
	
	&__content {
		margin-top: 10px;
		margin-top: 0.675rem;
		animation-name: content;
		animation-duration: 0.3s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
		display: none;
		&--active {
			display: flex;
			flex-direction: column;
		}
	}
	 
}

/* <-- tabs right */

/* customs page --> */

.custom-page {
	padding: 0 15px;
	max-width: 1140px;
    width: 100%;
    margin: 0 auto;
	display: flex;
	@include media('<tablet'){
        flex-wrap: wrap;
    } 
}

.custom-content {
	max-width: 100%;
	width: 100%;
}

/* <-- customs page */

/* brands --> */

.brands {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	&__item {
		width: 150px;
    	height: 150px;
    	display: flex;
		margin: 0 15px 15px 0;
		padding: 10px;
		box-shadow: 0 10px 15px 0 rgba(0,0,0,0.06);
		& img {
			object-fit: contain;
		}
	}
}



/* <-- brands */

.grecaptcha-badge {
	z-index: -1;
}

.mdi-custom {
	&--social {
		display: inline-flex;
		margin: 10px 5px 0 5px;
		&:first-of-type {
			margin-left: 0;
		}
	}
	& svg {
		font-size: 48px;
		fill: #9f9f9f;
		vertical-align: bottom;
		transition: all .15s;
	}
	&:hover {
		& svg {
			fill: #525252;
			transition: all .15s;
		}
	}
}