/*!
* @package Boyo
*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  padding: 40px 0 0;
  margin-bottom: 40px;
}

.breadcrumbs {
  font-size: .75em;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
}

.entry-title,
.previous-article-title,
.next-article-title {
  font-size: 2.5em;
  letter-spacing: -0.04em;
  line-height: 1.2;
  color: #1f2023;
}

.previous-article,
.next-article {
  color: #181818;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.04em;
}

.previous-article,
.next-article {
  font-size: 25px;
}

.published {
  display: none;
}

.updated.published {
  display: inherit;
}

.entry-content,
.entry-footer {
  max-width: 720px;
  margin: auto;
}

.entry-meta a {
  color: #1f2023;
  text-decoration: none;
}

.entry-meta .byline {
  margin: 20px 0;
}

.entry-meta .cat-links {
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.entry-meta .posted-on {
  font-size: 12px;
  letter-spacing: 0.2em;
}

.first-letter {
  font-size: 78px;
  float: left;
  line-height: 1;
  margin-right: 5px;
  font-weight: 700;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.nav-previous > a,
.nav-next > a {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

figcaption {
  padding: 0 10px;
  font-size: 75%;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

blockquote {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
}

code {
  padding: 20px;
  display: block;
  background-color: #f8f8f8;
}

.entry-content a {
  border-bottom: 2px solid #1f2023;
  padding: 0;
  text-decoration: none;
}

.entry-content a[href$=".jpg"],
.entry-content a[href$=".jpeg"],
.entry-content a[href$=".png"],
.entry-content a[href$=".gif"] {
  border-bottom: none;
}

.entry-header,
.entry-content {
  padding: 0 20px;
}

.site-info,
.site-info a {
  color: #b7b7b7;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.page-template-template-page-about-us .hentry {
  margin-bottom: 0;
}

.error404 .site-main {
  max-width: 720px;
  padding: 0 20px;
}

.error404 .error-404 .search-form {
  margin: 40px auto 80px;
}

.error404 .error404-content {
  color: #b7b7b7;
  font-family: Montserrat, sans-serif;
  font-size: 160px;
  font-weight: 700;
  margin: auto;
  text-align: center;
}

/*--------------------------------------------------------------
## Blocks related CSS
--------------------------------------------------------------*/
p.has-drop-cap:not(:focus)::first-letter {
  font-size: 78px;
  float: left;
  line-height: 1;
  margin-right: 5px;
  font-weight: 700;
}

a.wp-block-button__link {
  border: none;
  text-transform: uppercase;
  padding: .6em 1em;
  text-decoration: none;
}

.wp-block-separator.is-style-default {
  width: 120px;
}

.wp-block-separator.is-style-dots::before {
  font-size: 80px;
  letter-spacing: .1em;
  padding-left: .1em;
}

/*--------------------------------------------------------------
## Handling of responsive view - for bigger screens
--------------------------------------------------------------*/
@media (min-width: 601px) {
  .content-area,
  .entry-header,
  .entry-content {
    padding: 0 20px;
  }
  .entry-content {
    font-size: 1.25rem;
    line-height: 2;
  }
}

@media (min-width: 961px) {
  .entry-header,
  .page-header,
  .site-info,
  .breadcrumbs,
  .post-thumbnail {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  .site-info {
    text-align: right;
  }
  .hentry {
    margin-bottom: 80px;
  }
}

@media (min-width: 1281px) {
  .entry-header,
  .page-header,
  .breadcrumbs,
  .post-thumbnail {
    max-width: 1200px;
  }
  .entry-title {
    max-width: 50%;
  }
}
/*# sourceMappingURL=content.css.map */