@import "buttons";
@import "fields";

/* cf7 order form --> */

.order-header {
    font-size: 22px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Basis Grotesque Pro Of White",sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-bottom: 3rem;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        bottom: -25px;
        width: 75px;
        height: 5px;
        background-color: #5cbf96;
    }
}

.order-subheader {
    font-size: 18px;
    text-align: center;
}

.btn {
    &--order {
        border-radius: 30px !important; 
    }
}

/* <-- cf7 order form*/